<% include ../layouts/header %>

<div class="container">

	<form method="POST" action="/users/<%= User.id %>/edit">

		name: <input type="text" name="name" value="<%= User.name %>">
		
		email: <input type="email" name="email" value="<%= User.email %>">

		<input type="submit" value="Submit" onClick="change_confirm()">

	</form>

	<hr>

	<h2><a href="/users/<%= User.id %>">I'll be back.</a></h2>

	<hr>

</div>

<script language="javascript"><!--
	function change_confirm() {
	    window.confirm("CHANGE OK?");
	};
//--></script>

<% include ../layouts/footer %>