<% include ../layouts/header %>

<div class="container">
		<% User.forEach(function(user){ %>
			<p><img src="http://www.gravatar.com/avatar/<%= user.email %>?s=30" alt="Users photo">　<%= user.name %> : <%= user.email %></p>
		<% }) %>
	<h2><a href="/">back</a></h2>
</div>

<% include ../layouts/footer %>