<% include ../layouts/header %>

<div class="container">
		<% User.forEach(function(user){ %>
			<p><img src="<%= avatar %>?s=30" alt="Users photo">　<%= user.name %> : <%= user.email %></p>
		<% }) %>
		
		<!-- avatarはroutes/index.jsに記述済み -->

	<h2><a href="/">back</a></h2>
</div>

<% include ../layouts/footer %>