<% include ../layouts/header %>

<div class="container">

<% if(currentUser != null){ %>

	<div class="form">
		<form name="question" method="POST" action="/question/create">
			<h3><font color="#fff">Question</font></h3>

			<p>
				<input class="indexPageQuestion" type="text" name="subject" placeholder="Title" required="required">
				<input class="questionContent" type="textarea" name="content" placeholder="Content" required="required">
			</p>

			<p>
				<input class="indexPageQuestion" type="text" name="tagName" placeholder="Tag" required="required">
			</p>

			<p>
				<input class="indexPageQuestion" type="text" name="categoryName" placeholder="Category" required="required">
			</p>

			<input class="questionBtn" type="submit" value="submit">

		</form>
	</div>

<% }else{ %>

	<a href="/register">こちらより登録後質問を投稿することができます</a>

<% } %>

	<h2><a href="/">back</a></h2>

</div>

<% include ../layouts/footer %>