<% include ../layouts/header %>

<div class="container">

	<form name="question" method="POST" action="/question/create">
		
		<p><label>Question...</label>
			<input type="text" name="subject">
			<input type="textarea" name="content">
		</p>

		<p><label>Tag...</label>
			<input type="text" name="tag">
		</p>

		<p><label>Category...</label>
			<input type="text" name="category">
		</p>

		<input type="submit" value="submit">

	</form>

	<h2><a href="/">back</a></h2>

</div>

<% include ../layouts/footer %>