<% include ../layouts/header %>

<div class="container-fluid">



<% if(currentUser != null){ %>

		<form name="question" method="POST" action="/question/create">
		<div class="col-sm-1"></div>
  	<div class="col-sm-8">
			<h3>Question</h3>
			<p>
				<input class="indexPageQuestion" type="text" name="subject" placeholder="Title" required="required">
			</p>

			<p>
				<input class="questionContent" type="textarea" name="content" placeholder="Content" required="required">
			</p>
	</div>
	<div class="col-sm-3 questionTagCategory">
			<p>
				<input class="indexPageQuestion" type="text" name="tagName" placeholder="Tag" required="required">
			</p>

			<p>
				<input class="indexPageQuestion" type="text" name="categoryName" placeholder="Category" required="required">
			</p>

			<input class="questionBtn" type="submit" value="submit">

	</div>

		</form>
	</div>

<% }else{ %>

	<a href="/register">こちらより登録後質問を投稿することができます</a>

<% } %>

</div>

<% include ../layouts/footer %>