<% include ../layouts/header %>

<div class="container">

<% if(currentUser != null){ %>

	<form name="question" method="POST" action="/question/create">
		
		<p><label>Question...</label>
			<input type="text" name="subject" required="required">
			<input type="textarea" name="content" required="required">
		</p>

		<p><label>Tag...</label>
			<input type="text" name="tagName" required="required">
		</p>

		<p><label>Category...</label>
			<input type="text" name="categoryName" required="required">
		</p>

		<input type="submit" value="submit">

	</form>

<% }else{ %>

	<a href="/register">こちらより登録後質問を投稿することができます</a>

<% } %>

	<h2><a href="/">back</a></h2>

</div>

<% include ../layouts/footer %>