<% include ../layouts/header %>
<div class="container">
	<form method="POST" action="/question/edit/<%= Question.id %>">
		<p><label>Here...</label><br>
			<p>Subject</p>
			<input class="questionTitle" type="text" name="subject" value="<%= Question.subject %>"><br>
			<p>Content</p>
			<input class="questionContent" name="content" value="<%= Question.content %>"></textarea>
		<input type="submit" value="Submit">
	</form>

	<h2><a href="/">back</a></h2>

</div>
<% include ../layouts/footer %>