<% include ../layouts/header %>
<div class="container">
	<form method="POST" action="/question/edit/<%= Question.id %>">
		<p><label>Here...</label><br>
			Subject : <input type="text" name="subject" value="<%= Question.subject %>"><br>
			Content : <input type="textarea" name="content" value="<%= Question.content %>">
		</p>
		<input type="submit" value="Submit">
	</form>

	<h2><a href="/">back</a></h2>

</div>
<% include ../layouts/footer %>