<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<!-- select2 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

<script src="http://fb.me/react-with-addons-0.12.2.js"></script>
<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">lawverflow</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      </ul>
	<div class="clearfix">
	      <ul id="nav">
	      	<% if(currentUser){ %>
	      	<li id="nav"><a href="/logout"><font color="#fff">Logout</font></a></li>
	      	<% }else{ %>
  	      	<li id="nav"><a href="/login"><font color="#fff">Login</font></a></li>
  	        <li id="nav"><a href="/register"><font color="#fff">Register</font></a></li>
  	      	<% } %>
	        <li id="nav"><a href="/question/create"><font color="#fff">Question</font></a></li>
  	        <li id="nav"><a href="/users"><font color="#fff">User</font></a></li>
  	        <li id="nav"><a href="/tag/index"><font color="#fff">Tag</font></a></li>
  	        <li id="nav"><a href="/category/index"><font color="#fff">Category</font></a></li>
	        <% if(currentUser){ %>
	        <li id="nav" class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="#fff"><%= currentUser.name %></font> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action1</a></li>
	            <li><a href="#">Action2</a></li>
	            <li><a href="#">Action3</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Action4</a></li>
	          </ul>
	        </li>
	        <% } %>
	      </ul>
	      </div>
	    </div>
	  </div>
	</nav>
</div>