<% include layouts/header %>
<div class="container">
	<h1><a href="/question_post">Ask anyone?</a></h1>
	<% Question.forEach(function(Question){ %>
		<li style="list-style:none;">
			Subject : <%= Question.subject %>
			<br>
			Content : <%= Question.content %>
			<br><br>
		</li>
	<% }) %>
</div>
<% include layouts/footer %>