<% include ../layouts/header %>

<div class="container-register">

	<h1 class="register-title">Welcome back</h1>

	<form method="POST" action="/login" class="register">

		<input type="email" name="email" placeholder="Email" class="register-input">

		<input type="password" name="password" placeholder="Password" class="register-input">

		<input type="submit" class="register-input" value="Login">

		<p class="link-to-login"><a href="/register"><font color="#4094C9">or register?</font></a></p>

	</form>
	
	<div class="container">
		<h2><a href="/"><font color="#fff">back</font></a></h2>
	</div>

</div>
<% include ../layouts/footer %>