<% include ../layouts/header %>
<div class="container">

	<form method="POST" action="/login">
		<div class="form-group">
			<label>email</label>
			<input type="email" name="email" placeholder="Email" class="form-control">
		</div>

		<div class="form-group">
		    <label>password</label>
		    <div class="form-group">
		      <input type="password" name="password" placeholder="Password" class="form-control">
		    </div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">submit</button>
		</div>
	</form>

	<h2><a href="/">back</a></h2>
</div>
<% include ../layouts/footer %>