.navbar {
	color: #fff;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 20px;
}

.row-contents {
	padding-top: 20px;
}

a {
	color: #000;
}

.features {
	background-color: #F6F8F9;
	margin-bottom: 0px;
}

.strip {
	border-top: 1px solid #DCE2E5;
	border-bottom: 1px solid #DCE2E5;
}

.left-sidebar {
	border-style: solid;
	border-width: 8px;
	padding: 10px 5px 10px 20px;
	border-color: #07C;
}

footer {
    background: #272727 none repeat scroll 0% 0%;
    color: #939393;
	padding-top: 67px;
	padding-bottom: 67px;
}

.select {
	background-color: #fff;
}

ul, ol {
    padding-left: 0px !important;
}

ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

.social li {
    display: inline-block;
    margin: 5px;
}
li {
    list-style: outside none none;
}