<% include ../layouts/header %>

<div class="container">
		
    <% Tag.forEach(function(Tag){ %>
			<a href="/tag/<%= Tag.id %>"><option value=""><%= Tag.tag %></option></a>
			<hr>
		<% }) %>
		
    <strong><a href="/tag/create">Create To Tag</a></strong>
	
	<h2><a href="/">back</a></h2>

</div>

<% include ../layouts/footer %>