<% include ../layouts/header %>

<div class="container">
	<form method="POST" action="/tag_post">
		<p><label>Tag...</label>
			<input type="text" name="tag">
		</p>
		<input type="submit" value="Submit">
	</form>

	<h2><a href="/">back</a></h2>

</div>

<% include ../layouts/footer %>